.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chart {
  outline: 1px solid #333333;
}

.symbol {
  color: #c0c0c0;
  padding-left: 15px;
  font-size: x-small;
}

.symbol-div {
  padding-top: 6px;
}

.holding-top {
  padding-left: 10px;
  padding-top: 6px;
  color: #a9a9a9;
}

.holding-flag {
  background-color: #242424;
  width: 185px;
  height: 30px;
}

.order {
  outline: 1px solid #333333;
  background-color: #242424;
  width: 736px;
  height: 360px;
}

.holding {
  outline: 1px solid #333333;
  width: 185px;
  height: 350px;
}

.order-pad {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.data-top {
  color: #a9a9a9;
}

#balance {
  color: #c0c0c0;
}

#wallet {
  color: #c0c0c0;
  font-weight: bold;
  margin-right: 10px;
}

.market {
  outline: 1px solid #333333;
  width: 185px;
  height: 350px;
}

#past-orders {
  padding-top: 20px;
}

.ticker {
  color: #c0c0c0;
  padding-left: 10px;
  font-size: x-small;
  padding-top: 9px;
  font-weight: bold;
}

.symbol-bold {
  color: #c0c0c0;
  padding-left: 15px;
  font-size: x-small;
  font-weight: bold;
}

.price {
  color: #c0c0c0;
  padding-top: 9px;
  font-size: x-small;
}

.greenprice {
  color: seagreen;
  padding-top: 9px;
  font-size: x-small;
}

.redprice {
  color: indianred;
  padding-top: 9px;
  font-size: x-small;
}

.right-title {
  color: #c0c0c0;
  font-weight: bold;
}

.history {
  outline: 1px solid #333333;
  width: 185px;
  height: 390px;
}

.Buy {
  color: seagreen;
  padding-left: 6px;
  padding-top: 9px;
  font-size: x-small;
  font-weight: bold;
}

.Buy2 {
  color: #c0c0c0;
  padding-top: 9px;
  padding-left: 10px;
  font-size: x-small;
}

.Sell {
  color: indianred;
  padding-left: 6px;
  padding-top: 9px;
  font-size: x-small;
  font-weight: bold;
}

.Sell2 {
  color: #c0c0c0;
  padding-top: 9px;
  padding-left: 10px;
  font-size: x-small;
}

.outer {
  padding-left: 100px;
  padding-right: 100px;
}

.order-img {
  padding-top: 2px;
  margin-left: 6px;
  height: 20px;
  width: 20px;
}

.order-p {
  color: #c0c0c0;
  padding-top: 2px;
}

.o-d {
  outline: 1px solid #333333;
  width: 1000px;
  height: 30px;
  margin-top: 10px;
}

.o-d-top {
  outline: 1px solid #333333;
  background-color: #242424;
  width: 1000px;
  height: 30px;
  margin-top: 10px;
}

.timestamp {
  width: 300px;
}

#order1 {
  color: #c0c0c0;
  padding-top: 2px;
  margin-left: 6px;
}

.center {
  text-align: center;
  font-size: medium;
  margin-top: 7px;
  margin-left: 8px;
  margin-right: 8px;
  color: #c0c0c0;
}

#welcome {
  text-align: center;
  font-weight: bold;
  margin-top: 7px;
  color: #c0c0c0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
